<div class="container animated fadeIn fast">
    <h3>Lista de Tareas</h3>

    <p> Esta Aplicación para gestionar la lista de tareas pendientes fué desarrollada por: </p>
    <div class="col-md-6">

        <div class="row">
            <img src="/assets/admin.jpg" alt="..." style="width: 8rem ; height:8rem " class="img-thumbnail">
        </div><br />
        <div class="row">
            <p><strong class="text-info">Adrián Fonseca Vega</strong></p>
        </div>
        <div class="row">
            <p><strong class="text-dark">Dirección:</strong> Calle Napoleón Diego Reparto Rafaelito, Edificio # 4 Apto #2 Cumanayagua, Cienfuegos, Cuba.</p>
        </div>
        <div class="row">
            <p><strong class="text-dark">Email:</strong> afonsecav88@gmail.com</p>
        </div>
        <div class="row">
            <p><strong class="text-dark">Teléfono:</strong> 52135606</p>
        </div>

    </div>