<div class=" container  mainContainer animated fast fadeIn">

    <h3 class="text-center">Listado de tareas</h3>
    <hr>

    <button class="btn btn-outline-info button-down btn-sm"><a class="nav-link" [routerLink]="['/nueva-tarea']"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nueva tarea  </a></button>

    <table class="table table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
                <th scope="col">Estado</th>
                <th scope="col">Modificar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of tareas; let i=index">
                <td>{{[i]}}</td>
                <td>{{item.titulo}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.estado}}</td>
                <td>
                    <ul>
                        <button class="btn btn-success" (click)="obtenerId(item.id)"> <a [routerLink]="[ 'edit', 'id']"><i class="fa fa-edit text-white" title="Modificar" aria-hidden="true"></i></a></button> &nbsp;
                        <!-- <button class="btn btn-success" (click)="capturarObjeto(tareas[i])"> <a [routerLink]="[ 'edit', 'id']"><i class="fa fa-edit text-white" title="Modificar" aria-hidden="true"></i></a></button> &nbsp; -->
                        <button class="btn btn-danger" (click)="eliminarTarea(item.id)"><i class="fa fa-trash" aria-hidden="true"></i> </button>
                    </ul>
                </td>

            </tr>
        </tbody>
    </table>

    <!-- <span style="color: blue;"><i class="fas fa-horse  fa-10x  "></i></span>
    <i class="fa fa-shower fa-10x fa-rotate-180" aria-hidden="true"></i>
    <span style="color: red;"><i class="fas fa-fish fa-10x fa-rotate-180"></i></span>
    <span style="color: yellowgreen;"><i class="fa fa-car fa-10x " aria-hidden="true"></i></span>
    <span style="color: tomato;"><i class="fas fa-bus fa-10x    "></i></span>
    <span style="color: teal;"><i class="fas fa-plane fa-10x    "></i></span>
    <span style="color: red;"><i class="fa fa-ship fa-10x" aria-hidden="true"></i></span>
    <span style="color: blue;"><i class="fas fa-horse  fa-10x  "></i></span> -->






</div>